<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>

  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>

  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Product Name</th>
        <th>Description</th>
        <th>Product code</th>
        <th>Price</th>
        <th>Release Date</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in products">
        <td>
          <img ng-src="{{product.imageUrl}}" title="{{product.productName}}" style="width: 50px; margin: 2px;">
        </td>
        <td>
          {{product.productName}}
        </td>
        <td>
          {{product.description}}
        </td>
        <td>
          {{product.productCode}}
        </td>
        <td>
          {{product.price | currency}}
        </td>
        <td>
          {{product.releaseDate}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
